html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    background-color:rgb(4, 4, 41);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 90px;
    
}

.panel{
    /* border-spacing: 40px; */
    background-color: blue;
    border-radius: 20px;
    /* padding: 15px 25px; */
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column-reverse;
    /* text-align: center; */
}

.panel-text{
      background-color: #1f1f33;
      height: 50%;
      border-radius: 0px 0px 10px 10px;
}

.text1{
    font-size: 43px;
    color: white;
    font-weight: 800;
    padding: 10px 49px;
    letter-spacing: 1px;
}
.text1 span{
    color:rgb(109, 15, 109) ;
}

.text2{
    font-size: smaller;
    color: #bdbde0;
    padding: 5px 120px;
}

.grade-text{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.grade-text1{
    /* list-style: 30px; */
    letter-spacing: 1px;
    color:#bdbde0;
    font-size: 10px;
    margin: 0px 20px 20px 0px;
    line-height: 15px;
}

.grade-text1 span{
    color: white;
    font-size: 23px;
    
}

.panel img{
   max-width: 100%;
   border-radius: 10px 10px 0px 0px; 
}

@media(min-width:800px){
     .panel{
         flex-direction: row;
         display: flex;
         justify-content: center;
         height: 325px;
     }


.panel-text{
    padding: 81px 62px;
    border-radius: 10px 0px 0px 10px;
    
}
.text1{
    letter-spacing: 1px;
    font-size: 21px;
    padding: 0px 10px;
    padding-bottom: 20px;
}
.text2{
    padding: 10px 10px;
}
.panel img{
    border-radius: 0px 10px 10px 0px;
}
    .grade-text{
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        padding-top: 12px;
    }
}
